In [2]:
print(1, 2, 3, sep=', ')

1, 2, 3

In [3]:
print(4,5, 6, sep=',')

4,5,6

In [4]:
print('Hello','Python',sep='')

HelloPython

In [5]:
print(1920, 1080, sep='x')

1920x1080

In [6]:
print(1,2,3,sep='\n')

1
2
3

In [7]:
print(1, end='')
print(2, end='')
print(3)

123

In [5]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

In [6]:
1+2

3

In [7]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리

print(a + b)

숫자 두 개를 입력하세요: 2,3
5